---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.mentor-card {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  min-width: 200px;
  padding: 1em;
  img {
      width: 100%;
  }
}
