---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

///
/// Tool Tip, from https://www.w3schools.com/css/css_tooltip.asp
///
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #ccc; /* dots under the anchor text */
}

/* Tooltip content */
.tooltip .tooltipcontent {
  visibility: hidden;
  width: 400px;
  background: var(--details-background-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 4px; 
  /* Position the tooltip content */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip content when you mouse over the tooltip anchor text */
.tooltip:hover .tooltipcontent {
  visibility: visible;
}

.mentor-card {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  min-width: 170px;
  padding: 1em;
  img {
      width: 100%;
  }
}