---
layout: archive
---

{{ content }}

{% assign sorted_categories = site.categories | sort: 0 | reverse %}

<ul class="taxonomy__index">
  {% for category in sorted_categories %}
      <li>
        <a href="#{{ category[0] | slugify }}">
          <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ category[1].size }}</span>
        </a>
      </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for category in sorted_categories %}
  {% assign category_name = category | first %}
  {% assign category_posts = category | last | sort: "date" | reverse %}

  <section id="{{ category_name | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category_name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in category_posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}

