---
layout: archive
---
{%- assign locale = page.locale | default: layout.locale | default: site.locale %}

{{ content }}

{% assign sorted_categories = site.categories | sort %}

<ul class="taxonomy__index">
  {% for category in sorted_categories reversed %}
    {% assign category_name = category | first %}
    {% assign category_posts = category | last %}
      <li>
        <a href="#{{ category_name | slugify }}">
          <strong>{{ category_name }}</strong> <span class="taxonomy__count">{{ category_posts.size }}</span>
        </a>
      </li>
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for category in sorted_categories reversed %}
  {% assign category_name = category | first %}
  {% assign category_posts = category | last | sort: "date" | reverse %}

  <section id="{{ category_name | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category_name }}</h2>
    <div class="entries-{{ entries_layout }}" style="overflow: auto;">
      {% for post in category_posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}

{% comment %}
{% include posts-taxonomy.html locale=locale taxonomies=site.categories %}
{% endcomment %}
